<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>smsgia-web</display-name>
	<welcome-file-list>
		<welcome-file>revision/seleccionarRevision.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>omega</param-value>
	</context-param>


	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- <context-param> <param-name>javax.faces.DISABLE_FACESSERVLET_TO_XHTML</param-name> 
		<param-value>true</param-name> </context-param> -->
	<context-param>
		<param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- Using an entry in web.xml, ejb-jar.xml or application.xml: <data-source> 
		<name>java:app/MyApp/MyDS</name> <class-name>org.h2.jdbcx.JdbcDataSource</class-name> 
		<initial-pool-size>10</initial-pool-size> <max-pool-size>200</max-pool-size> 
		<min-pool-size>10</min-pool-size> <url>jdbc:h2:mem:test</url> </data-source> -->
</web-app>